*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
